button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d32f2f;
}

body, input, button {
  font-family: 'Press Start 2P', cursive;
}

.pokemon-button {
  background-color: #f5ac78;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.pokemon-button:hover {
  background-color: #f08030;
  color: white;
}
